@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: #ffffff;
	--foreground: #0f0f0f;
	--card: #ffffff;
	--card-foreground: #0f0f0f;
	--popover: #ffffff;
	--popover-foreground: #0f0f0f;
	--primary: #8205ff;
	--primary-foreground: #ffffff;
	--secondary: #f2f2f2;
	--secondary-foreground: #3f3f46;
	--muted: #f2f2f2;
	--muted-foreground: #737373;
	--accent: #8205ff;
	--accent-foreground: #ffffff;
	--destructive: #ff4d4d;
	--destructive-foreground: #ffffff;
	--border: #e6e6e6;
	--input: #e6e6e6;
	--ring: #c780ff;
	--chart-1: #8205ff;
	--chart-2: #6a04c7;
	--chart-3: #520399;
	--chart-4: #3a026b;
	--chart-5: #22013d;
	--sidebar: #ffffff;
	--sidebar-foreground: #0f0f0f;
	--sidebar-primary: #8205ff;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #8205ff;
	--sidebar-accent-foreground: #ffffff;
	--sidebar-border: #e6e6e6;
	--sidebar-ring: #c780ff;
	--font-sans: sans-serif;
	--font-serif: serif;
	--font-mono: monospace;
	--radius: 0.5rem;
	--shadow-2xs: 0 0 25px 0 hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 0 25px 0 hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 0 25px 0 hsl(0 0% 0% / 0.1),
		0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 0 25px 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 0 25px 0 hsl(0 0% 0% / 0.1),
		0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 0 25px 0 hsl(0 0% 0% / 0.1),
		0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 0 25px 0 hsl(0 0% 0% / 0.1),
		0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 0 25px 0 hsl(0 0% 0% / 0.25);
	--tracking-normal: 0.025em;

	--toast-success-bg: #16a34a;
	--toast-success-fg: #ffffff;
	--toast-error-bg: #dc2626;
	--toast-error-fg: #ffffff;
	--toast-warning-bg: #d97706;
	--toast-warning-fg: #ffffff;
	--toast-info-bg: #2563eb;
}

.dark {
	--background: #0f0f0f;
	--foreground: #ffffff;
	--card: #171717;
	--card-foreground: #ffffff;
	--popover: #171717;
	--popover-foreground: #ffffff;
	--primary: #8205ff;
	--primary-foreground: #ffffff;
	--secondary: #262626;
	--secondary-foreground: #d4d4d4;
	--muted: #262626;
	--muted-foreground: #737373;
	--accent: #6a04c7;
	--accent-foreground: #ffffff;
	--destructive: #ff4d4d;
	--destructive-foreground: #ffffff;
	--border: #262626;
	--input: #262626;
	--ring: #a25cfb;
	--chart-1: #8205ff;
	--chart-2: #6a04c7;
	--chart-3: #520399;
	--chart-4: #3a026b;
	--chart-5: #22013d;
	--sidebar: #0f0f0f;
	--sidebar-foreground: #ffffff;
	--sidebar-primary: #8205ff;
	--sidebar-primary-foreground: #ffffff;
	--sidebar-accent: #6a04c7;
	--sidebar-accent-foreground: #ffffff;
	--sidebar-border: #262626;
	--sidebar-ring: #a25cfb;
	--font-sans: sans-serif;
	--font-serif: serif;
	--font-mono: monospace;
	--radius: 0.5rem;
	--shadow-2xs: 0 0 25px 0 hsl(0 0% 0% / 0.05);
	--shadow-xs: 0 0 25px 0 hsl(0 0% 0% / 0.05);
	--shadow-sm: 0 0 25px 0 hsl(0 0% 0% / 0.1),
		0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0 0 25px 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0 0 25px 0 hsl(0 0% 0% / 0.1),
		0 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0 0 25px 0 hsl(0 0% 0% / 0.1),
		0 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0 0 25px 0 hsl(0 0% 0% / 0.1),
		0 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0 0 25px 0 hsl(0 0% 0% / 0.25);

	--toast-success-bg: #16a34a;
	--toast-error-bg: #dc2626;
	--toast-warning-bg: #d97706;
	--toast-info-bg: #2563eb;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
	letter-spacing: var(--tracking-normal);
}
